<div class="card">
  <%= link_to image_tag(recommend.image, class: :card__img ), topic_path(recommend.id), method: :get %>
  <div class="card__body">
    <%= link_to "タイトル：#{recommend.title}", topic_path(recommend.id), method: :get, class: :card__title%>
    
    <p class="card__summary">
      <%= "場所：#{recommend.place}" %>
    </p>
    <p class="card__summary">
      <%= recommend.impression %>
    </p>
    <%= link_to "by #{recommend.user.nickname}", user_path(recommend.user.id), class: :card__user %>
    <%# <div id="index_like_<%= recommend.id %>"> %>
      <%# <%= render 'likes/like',: recommend %> %>
    <%# </div> %>
    <%#= @likes_count %>
  </div>
</div>