<div class="card__topic__index">
  <%= link_to image_tag(topic.image, class: :card__img__topic ), topic_path(topic.id), method: :get %>
  <div class="card__topic__body">
    <%= link_to "タイトル：#{topic.title}", topic_path(topic.id), method: :get, class: :card__title%>
    
    <p class="card__summary">
      <%= "場所：#{topic.place}" %>
    </p>
    <p class="card__summary">
      <%= topic.impression %>
    </p>
    <%= link_to "by #{topic.user.nickname}", user_path(topic.user.id), class: :card__user %>
    <div id="index_like_<%= topic.id %>">
      <%= render 'likes/like', topic: topic %>
    </div>
    <p class="good_count">
      <%= "いいねの数　：#{Like.where(topic_id: topic.id).count}" %>
    </p>
  </div>
</div>