<%= render "shared/header" %>

<div class="wrapper">
  <%= render "shared/side_bar" %>
  <div class="main-page">
    <div class="main-header">
    </div>
    <div class="topics-main">
      <div class="topics-main-edit">
        <div class="items-sell-contents">
          <div class="items-sell-main">
            <h2 class="items-sell-title">新規投稿</h2>
            <%# 部分テンプレートでフォームを表示する %>
            <%= render partial:"form", locals: { topic: @topic } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render "tops/detail_page" %>
  <%#= render "topic_show" %>
</div>

<%= render "shared/footer" %>
