<%= render "shared/header" %>

<div class="wrapper">
  <div class="main-page-show">
    <div class="main-header">
    </div>
    <div class="main-header-title">
      <h2 class="show-name">
        <%= link_to "#{@topic.user.nickname}さんの投稿", user_path(@topic.user.id), class: :user__name%>
      </h2>
    </div>
    <div class="topics-main-show">
      <div class="card_show">
        <%= link_to image_tag(@topic.image, class: :card__img ), "#", method: :get %>
        <div class="card__topic__body__show">
          <%= link_to @topic.title, "#", method: :get, class: :card__title%>
          <p class="card__summary">
            <%= @topic.place %>
          </p>
          <p class="card__summary">
            <%= @topic.impression %>
          </p>
          <%= link_to "by #{@topic.user.nickname}", user_path(@topic.user.id), class: :card__user %>
          <div id="show_like_<%= @topic.id %>">
            <%= render 'likes/like', topic: @topic %>
          </div>
        </div>
        <div class="edit-destroy">
          <% if user_signed_in? %>
            <% if @topic.user_id == current_user.id %>
              <%= link_to '編集', edit_topic_path, method: :get, class: "item-red-btn" %>
              <%= link_to '削除', topic_path(@topic.id), method: :delete, class:'item-destroy' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%#= render "topic_show" %>
</div>

<%= render "shared/footer" %>
