<% unless user == nil %>
  <% if user.id != current_user.id %>
    <div class="card">
      <%#= link_to image_tag(topic.image, class: :card__img ), topic_path(topic.id), method: :get %>
      <div class="card__body">
        <p class="card__summary-2">
          <%= "ニックネーム：" %>
          <%= link_to user.nickname, user_path(user.id), method: :get, class: :card__title%>
        </p>
        <p class="card__summary">
          <%= "ライセンス：#{user.profile.license.name}" %>
        </p>
        <p class="card__summary">
          <%= "お住まい　：#{user.profile.prefecture.name}" %>
        </p>
        <p class="card__summary">
          <%= "ビーチorボート：#{user.profile.favorite_diving.name}" %>
        </p>
        <p class="card__summary">
          <%= "好きな海洋生物：#{user.profile.favorite_fish.name}" %>
        </p>
        <p class="card__summary">
          <%= "好きなスポット：#{user.profile.favorite_place.name}" %>
        </p>
      </div>
    </div>
  <% end %>
<% end %>