<%= render "shared/header" %>

<div class="wrapper-topics">
  <%= render "shared/side_bar" %>
  <div class="main-page">
    <div class="main-header">
    </div>
    <div class="users-main">

      <div class="items-sell-contents">
        <div class="items-sell-main">
          <h2 class="items-sell-title">情報を入力</h2>
          <%= form_with(model: @profile, local: true) do |f| %>

          <%# <%= render 'shared/error_messages', model: f.object %> %>

            <%# 投稿画像 %>
            <div class="items-detail">
              <div class="weight-bold-text question-text">
                <span>配送について</span>
                <a class="question" href="#">?</a>
              </div>
              <div class="form">
                <div class="weight-bold-text">
                  配送料の負担
                  <span class="indispensable">必須</span>
                </div>
                <%= f.collection_select(:delivery_fee_id, License.all, :id, :name, {}, {class:"select-box", id:"item-shipping-fee-status"}) %>
                <div class="weight-bold-text">
                  発送元の地域
                  <span class="indispensable">必須</span>
                </div>
                <%= f.collection_select(:prefecture_id, Career.all, :id, :name, {}, {class:"select-box", id:"item-prefecture"}) %>
                <div class="weight-bold-text">
                  発送までの日数
                  <span class="indispensable">必須</span>
                </div>
                <%= f.collection_select(:delivery_time_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"item-scheduled-delivery"}) %>
              </div>
            </div>
            <%# /商品名と商品説明 %>

            <%# 下部ボタン %>
            <div class="sell-btn-contents">
              <%= f.submit "変更する" ,class:"sell-btn" %>
              <%=link_to 'もどる', topic_path, class:"back-btn" %>
            </div>
            <%# /下部ボタン %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
  <%= render "tops/detail_page" %>
  <%#= render "topic_show" %>
</div>

<%= render "shared/footer" %>
