<%= render "shared/header" %>

<div class="wrapper-topics">
  <div class="side-bar-topic">
    <div class="side-bar-header">
    </div>
    <div class="side-main-back-user">
      <div class="side-bar-title">
        <h2 class="title-char-user">
          あなたにおすすめのユーザー
        </h2>
      </div>
      <div class="side-bar-user-main">
        <% @recommend.each do |recommend|%>
          <%= render partial: "recommend", locals: {recommend: recommend} %>
        <% end %> 
      </div>
    </div>
  </div>

  <div class="main-page">
    <div class="main-header">
    </div>
    <div class="search-box">
      <%= render "search_user" %>
    </div>
    <div class="users-main">
      <% @users.each do |user| %>
        <%= render partial: "user_main", locals: { user: user} %>
      <% end %>
      <%# 投稿がない場合、ダミー投稿を表示する %>
      <% unless @users.exists? %>
        <li class='list'>
          <%= link_to '#' do %>
          <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: "item-img" %>
          <div class='item-info'>
            <h3 class='item-name'>
              投稿してね！
            </h3>
            <div class='item-price'>
              <span>99999999円<br>(税込み)</span>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
      <%# //投稿がない場合、ダミー投稿を表示する %>
    </div>
  </div>

  
  <%#= render "topic_show" %>
</div>

<%= render "shared/footer" %>
