<%= render "shared/header" %>

<div class="wrapper-topics">
  <div class="side-bar-topic">
    <div class="side-bar-header">
    </div>
    <div class="side-main-back-user">
      <div class="side-bar-title">
        <h2 class="title-char-user">
          あなたにおすすめのユーザー
        </h2>
      </div>
      <div class="side-bar-user-main">
        <% @recommend.each do |recommend|%>
          <%= render partial: "recommend", locals: {recommend: recommend} %>
        <% end %> 
      </div>
    </div>
  </div>
  <div class="main-page">
    <div class="main-header">
    </div>
    <div class="search-box">
      <%= render "search_user" %>
    </div>
    <div class="users-main">
      <%= render "search_result" %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>

