<%= render "shared/header" %>

<div class="wrapper-topics">
  <%= render "shared/side_bar" %>
  <div class="main-page">
    <div class="main-header">
    </div>
    <%#= render "search_user" %>

    <div class="topics-main">
      <%= render "search_result" %>


    </div>
  </div>
  <%= render "tops/detail_page" %>
  <%#= render "topic_show" %>
</div>

<%= render "shared/footer" %>

