<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("diver_logo.png", class:"diver-icon"), "/" %>
  </div>
  <div class='nav'>
    <ul class='page-lists'>
      <li class=><%= link_to "トップページ", root_path, class: "item-index" %></li>
      <li class=><%= link_to "投稿を見る", root_path, class: "item-index" %></li>
      <li class=><%= link_to "メッセージを送る", root_path, class: "item-index" %></li>
      <li class=><%= link_to "相手を探す", users_path, class: "item-index" %></li>
    </ul>
    <ul class='page-lists'>
      <% if user_signed_in? %>
        <li class=><%= link_to "マイページ", root_path, class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>