<div class="side-bar">
  <div class="side-bar-header">
  </div>
  <div class="menu">
   <ul>
      <li class="index">
        <%= link_to "トップページ", root_path %>
      </li>
      <% if user_signed_in? %>
        <li class="index">
          <%= link_to "マイページ", "#" %>
        </li>
      <% end %>
      <li class="index">
        <%= link_to "投稿を見る", "#" %>
      </li>
      <li class="index">
        <%= link_to "会話する", "#" %>
      </li>
      <li class="index">
        <%= link_to "相手を探す", "#" %>
      </li>
      <li class="index">
        <%= link_to "コラム", "#" %>
      </li>
    </ul>
  </div>
</div>