<%= render "shared/header" %>

<div class="wrapper">
  <%= render "shared/side_bar" %>
  <div class="main-page">
    <div class="main-header">
    </div>
    <%= render "new_chat" %>
  </div>
  <%= render "tops/detail_page" %>
</div>

<%= render "shared/footer" %>
